.parent
{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child
{
    height: 200px;
    width: 300px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}