<p>vehicleDSAFHJs works!</p>
<input type="text" placeholder="search"
[(ngModel)]="term">
<button (click)="filter()">Filter</button>
<br>
<select [(ngModel)]="column">
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
</select>

<select [(ngModel)]="order">
<option>asc</option>
<option>desc</option>
</select>

<button (click)="sort()">Sort</button>

<table border="table table-dark">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Manufacturer</th>
                <th>Model</th>
                <th>Type</th>
                <th>Fuel</th>
                <th>Color</th>
                <th>Image</th>
                <th>Id</th>
                
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{ vehicle.Vehicle }}</td>
            <td>{{ vehicle.manufacturer }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.type }}</td>
            <td>{{ vehicle.fuel }}</td>
            <td>{{ vehicle.color }}</td>
            <td>
                <img src="{{ vehicle.image }}" width="300px" height="300px"></td>
            <td>{{vehicle.id}}</td>
            <td>
                <button (click)="view(vehicle.id)">View</button>
                <!-- <button (click)="delete(vehicle.id)">Delete</button> -->
            </td>
        </tr>
    </tbody>
</table>

   <ul class="pagination">
      <li class="page-item" (click)="pagination(1)"><a class="page-link">1</a></li>
      <li class="page-item" (click)="pagination(2)"><a class="page-link">2</a></li>
      <li class="page-item" (click)="pagination(3)"><a class="page-link">3</a></li>

    </ul>
    
  
