<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="event-binding">event binding</h6>
        <h6 routerLink="two-way-binding">two way binding</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="square">square</h6>
        <h6 routerLink="power">power</h6>
        <h6 routerLink="event-registration">Event Registration</h6>
        <h6 routerLink="employee-registration">Employee Registration</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="gpay">G pay</h6>
        <h6 routerLink="bank">Bank</h6>
        <h6 routerLink="hooks">hooks</h6>
        <h6 routerLink="vehicle">Vehicle</h6>
        <h6 routerLink="post">Post</h6>
        <h6 routerLink="flipkart">Flipkart</h6>
        <h6 routerLink="mail">Mail</h6>
        <h6 routerLink="boredom">Boredom</h6>
        <h6 routerLink="create-account">create account</h6>
        <h6 routerLink="create-vehicle">create vehicle</h6>
        <h6 routerLink="create-user">create user</h6>
        <h6 routerLink="create-product">create product</h6>
        <!-- <button routerLink="/login">logout</button> -->
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
